.specificSop-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 4rem;
  position: relative;
}
.pdf-description {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4rem;
}
.sop_program-name {
  background: var(--brown-color);
  border-radius: 5rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.sop_program-desc {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.sop_program-admin-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sop_program-admin-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  background: var(--green-color);
  border-radius: 2rem;
  min-width: 10rem;
  cursor: pointer;
}
.sop_program-admin-actions button:first-child {
  margin-right: 2rem;
}
.action-icon {
  font-size: 1.5rem;
  margin-right: 0.8rem;
}
