.main {
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  padding: 0 1rem;
  min-height: 99vh;
}
.main-section {
  display: flex;
  flex: 4;
  flex-direction: column;
  align-items: flex-start;
  height: 100% !important;
  min-height: 99vh;
  padding: 4rem;
}
.title-section {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 4rem;
}
.search-container__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.admin-title {
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 6rem;
}
.admin-title :first-child {
  margin-top: 0rem;
}
.toast {
  font-size: 6.5rem;
}
